@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: 'Mulish', sans-serif;
  padding: 0;
  margin: 0;
  /* background-image: radial-gradient(#444cf7 0.5px, #e5e5f700 0.5px); */
  background-size: 10px 10px;
}

.prose h1 {
  font-family: 'Dancing Script', 'Mulish', sans-serif;
  font-weight: 300;
  color: #ffcd38;
}

a {
  color: inherit;
  text-decoration: none;
}
/* 
* {
  box-sizing: border-box;
  transition: color, background-color 0.2s ease-in-out;
} */

.burger svg {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 300ms ease, transform 300ms ease;
}

.burger svg[data-hide='true'] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}
.image-spec {
  position: relative;
}

.image-spec::before {
  content: '';
  position: absolute;
  border: 15px solid #ffcd38;
  margin-left: 5px;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 50px 0px;
  left: 7%;
  top: 13%;
}

.image-about::before {
  content: '';
  position: absolute;
  border: 15px solid #ffcd38;
  width: 100%;
  height: 100%;
  left: -2vw;
  top: -2vw;
}

.map {
  background-image: url('/images/map.svg');
  height: 80%;
  width: 100%;
  align-items: center;
  background-size: 150%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 70%;
}

.link {
  transition: all 0.2s ease-in;
  background: #ffffff00;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 #ffcd38;
  animation: pulse 2s infinite;
}

.dropdown__items {
  visibility: hidden;
  opacity: 0;
  height: 0px;
  transition: max-height 0.6s ease;
}

.test {
  position: relative;
}

.test::before {
  content: '';
  position: absolute;
  background-image: url('/images/profil.jpg');
  height: 20%;
  width: 20%;
  align-items: center;
  background-size: 150%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: 70%;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  70% {
    -moz-box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 2rem rgba(255, 255, 255, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.card {
  transition: all 0.35s ease-in;
}

.rec.rec-arrow {
  visibility: hidden;
}

.body-slider {
  justify-content: center;
  display: flex;
}
.sliderrr {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 70rem;
}

.sliderrr::before,
.sliderrr::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.sliderrr::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.sliderrr::before {
  left: 0;
  top: 0;
}
.sliderrr .slide-track {
  animation: 60s scroll linear 0s infinite normal none running;
  display: flex;
  width: calc(210px * 12);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-210px * 6));
  }
}
.sliderrr .slidex {
  height: 100px;
  width: 210px;
}

.rec-pagination .rec-dot_active {
  box-shadow: inset 0 0 1px 3px #ffcd38;
  background-color: #ffcd38;
}
.rec-pagination .rec-dot:focus {
  box-shadow: inset 0 0 1px 3px #ffcd38;
}

.rec-pagination .rec-dot:hover {
  box-shadow: inset 0 0 1px 3px #ffcd387f;
}
.rec-pagination .rec-dot {
  box-shadow:   0 0 1px 1px #8790a5
}

html {
  font-size: 16px;
}
body {
  background-color: #ffffff75;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 640px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 8px;
  }
}

.text-shadow-light {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.text-shadow-dark {
  text-shadow: 0 4px 4px rgba(255, 255, 255, 0.25);
}

.cont {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.slider {
  position: relative;
  height: 100%;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  cursor: all-scroll;
  user-select: none;
}
.slider.animation {
  transition: transform 750ms ease-in-out;
}
.slider.animation .slide__darkbg {
  transition: transform 750ms ease-in-out;
}
.slider.animation .slide__text {
  transition: transform 750ms ease-in-out;
}
.slider.animation .slide__letter {
  transition: transform 750ms ease-in-out;
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide--1 {
  left: 0%;
}
.slide--2 {
  left: 100%;
}
.slide--3 {
  left: 200%;
}
.slide--4 {
  left: 300%;
}
.slide--5 {
  left: 400%;
}
.slide__darkbg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translate3d(0, 0, 0);
  will-change: transform;
  z-index: 10;
}
.slide__text-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 15;
}
.slide__letter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
  -webkit-text-fill-color: transparent !important;
  -webkit-background-clip: text !important;
  font-size: 40vw;
  font-weight: 800;
  color: #000;
  z-index: 2;
  will-change: transform;
  user-select: none;
}
.slide__text {
  font-size: 6vw;
  font-weight: 800;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  letter-spacing: 12px;
  color: #fff;
  will-change: transform;
  user-select: none;
}
.slide__text:nth-child(odd) {
  z-index: 2;
}
.slide__text:nth-child(even) {
  z-index: 1;
}
.slide--1__darkbg {
  left: 0%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--1-min-min.jpg')
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--1__darkbg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--1__letter {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--1-min-min.jpg')
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--2__darkbg {
  left: -50%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--2-min-min.jpg')
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--2__darkbg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--2__letter {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--2-min-min.jpg')
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--3__darkbg {
  left: -100%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--3-min-min.jpg')
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--3__darkbg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--3__letter {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--3-min-min.jpg')
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--4__darkbg {
  left: -150%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--4-min-min.jpg')
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--4__darkbg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--4__letter {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--4-min-min.jpg')
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.slide--5__darkbg {
  left: -200%;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--5-min-min.jpg')
    center center no-repeat;
  background-size: cover;
  background-position: 0px center, 0px center;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}
.slide--5__darkbg:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(11, 15, 39, 0.83);
}
.slide--5__letter {
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/537051/city--5-min-min.jpg')
    center center no-repeat;
  background-position: 0px center, 0px center;
  background-size: cover;
}
.nav {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  list-style-type: none;
  z-index: 10;
}
.nav__slide {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-left: 10px;
  cursor: pointer;
}
@media screen and (max-width: 400px) {
  .nav__slide {
    width: 22px;
    height: 22px;
  }
}
.nav__slide:hover:after {
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}
.nav__slide:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0, 0);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  transition: 300ms;
}
.nav__slide--1 {
  margin-left: 0;
}
.nav-active:after {
  transform: translate(-50%, -50%) scale(1, 1);
  opacity: 1;
}
.side-nav {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  z-index: 20;
  cursor: pointer;
  opacity: 0;
  transition: 300ms;
}
.side-nav:hover {
  opacity: 0.1;
}
.side-nav--right {
  right: 0;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #eed7ff 100%
  );
}
.side-nav--left {
  left: 0;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 0) 0%,
    #eed7ff 100%
  );
}

.image {
  width: 1000px;
  height: 600px;
}
.sls {
  opacity: 0;
}

.sls.active {
  transition: 2s;
  opacity: 1;
  transform: anim;
  transform: scale(1.1);
}

@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.anim.button {
  transition: color, background-color 2s ease-in-out;
}

.carousel-inner {
  white-space: nowrap;
  transition: ease 1s;
}

.carousel-inner > div {
  white-space: normal;
}

.stroke-text {
  font-family: 'poppins', sans-serif;
  color: #f1f5fd;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: #ddd;
  text-transform: uppercase;
  font-size: 120px;
  line-height: 1;
}

.color-ji {
  background: -webkit-linear-gradient(#e99602 ,#2b4a58);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-ji-dark {
  background: -webkit-linear-gradient( #a2d0c1,#e99602);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.color-adc {
  background: -webkit-linear-gradient(rgb(87, 154, 255), #1c52f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-adc-dark {
  background: -webkit-linear-gradient(rgb(255, 255, 255), #1c52f2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.color-ted {
  background: -webkit-linear-gradient(rgb(0, 0, 0), #e62b1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-ted-dark {
  background: -webkit-linear-gradient(rgb(255, 255, 255), #e62b1e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-bg {
  background: -webkit-linear-gradient(#0b3434, #b2d06b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-bg-dark {
  background: -webkit-linear-gradient(#f6fafa, #b2d06b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-icc {
  background: -webkit-linear-gradient(#9600a9, rgb(14, 1, 85));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-icc-dark {
  background: -webkit-linear-gradient(#d93aee, rgb(65, 39, 209));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ss {
  box-shadow: -2px -2px 5px #ffcd38, 3px 3px 5px rgb(0 0 0 / 10%);
}

.collapse {
  overflow: hidden;
  transition: 0.4s max-height;
}

.collapse > div {
  overflow: auto;
}

.img-icon::before{
  position: absolute;
  content: "";
  background-color: #ffcd38;
  opacity: .3;
  width: 5rem;
  height: 5rem;
  left: 20%;
  bottom: 10%;
  border-radius: 50%;
  z-index: 1;
}

.sponsors{
  background-image: url("/images/sponsor.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}